
:root {
  --ltBlue: #127BC4;
  background-color: #f4f4f5; /* bg-zinc-100 */
  font-family: Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}



body {
  background-color: #f4f4f5; /* bg-zinc-100 */
  font-family: Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  display: block;
  height: 100%;
}


#main-content {
  margin: 0 auto;  
  padding-bottom: 100px;
}

div#content {
  box-shadow: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.form-help {
  display: none;
}